{%extends 'front/brands.html'%}
{%load static%}
{%block body%}
<div class="position-relative">
    <div class="position-absolute" id="particles-js"></div>
    <div class="position-relative container">
        <!-- Breadcrumb -->
        <section class="pt-4 mb-4">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1 class="fw-700 fs-20 fs-md-24 text-dark">Flash deals</h1>
                </div>
                <div class="col-lg-6">
                    <ul class="breadcrumb bg-transparent p-0 justify-content-center justify-content-lg-end">
                        <li class="breadcrumb-item has-transition opacity-60 hov-opacity-100">
                            <a class="text-reset" href="/">
                                Home
                            </a>
                        </li>
                        <li class="text-dark fw-600 breadcrumb-item">
                            "Flash deals"
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Banner -->
        <!-- All flash deals -->
        <section class="mb-4">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 gutters-16">
            </div>
        </section>
    </div>
</div>

{%endblock%}