{% extends "front/brands.html" %}
{%load static%}
{%block body%}
<script>
    function validateForm() {
        var email = document.getElementById("phone-code").value;
        var p1 = document.getElementById("password1").value;
        var p2 = document.getElementById("password2").value;

        if (p1!=p2) {
            alert("Password and Confirm Password Not Same");
            return false; // Prevent form submission
        }
        
    

        // Extract usernames from the 'unames' object
        var existingUsernames = [];
        {% for item in uname %}
        existingUsernames.push('{{ item.username }}');
        {% endfor %}

        // Check if the entered username already exists in the 'existingUsernames' array
        if (existingUsernames.includes(email)) {
            alert("Phone already Exist.");
            return false; // Prevent form submission
        }
        return true; // Allow form submission if all validations pass
    }


</script>

<section class="pt-4 mb-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">

            </div>
            <div class="col-lg-6">
                <ul class="breadcrumb bg-transparent p-0 justify-content-center justify-content-lg-end">
                    <li class="breadcrumb-item has-transition opacity-50 hov-opacity-100">
                        <a class="text-reset" href="/">Home</a>
                    </li>
                    <li class="text-dark fw-600 breadcrumb-item">
                        "Register Your Shop"
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{%if msg%}
<script>
    alert("You have been registered successfully...")
    window.location.href = "/seller/login"; 
</script>
{%endif%}
<section class="pt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-xxl-5 col-xl-6 col-md-8 mx-auto">
                <h1 class="fw-700 fs-20 fs-md-24 text-dark text-center mb-3">Register Your Shop</h1>
                <form method="post" enctype="multipart/form-data" onsubmit="return validateForm();" >
                    {%csrf_token%}
                    <div class="bg-white border mb-4">
                        <div class="p-3">
                            <div class="form-group">
                                <label>Your name <span class="text-primary">*</span></label>
                                <input type="text" class="form-control rounded-0"  placeholder="Name"
                                    name="name" required>
                            </div>
                            
                            <div class="form-group phone-form-group mb-4">
                                <label for="phone" class="fs-12 fw-700 text-soft-dark">Confirm Phone <span
                                        class="text-primary">*</span></label>
                                <input type="number" id="phone-code"min="6000000000"max="9999999999" class="form-control rounded-0"  placeholder="Phone"
                                    name="phone" autocomplete="off" required>
                            </div>

                           

                            <div class="form-group email-form-group mb-4 ">
                                <label for="email" class="fs-12 fw-700 text-soft-dark">Confirm Email</label>
                                <input type="email" class="form-control rounded-0 "  placeholder="Email"
                                    name="email" autocomplete="off" required>
                            </div>

                            {% comment %} <div class="form-group text-right">
                                <button class="btn btn-link p-0 text-primary" type="button"
                                    onclick="toggleEmailPhone(this)"><i>*Use Email Instead</i></button>
                            </div> {% endcomment %}


                            <div class="form-group">
                                <label>Company Name<span class="text-primary">*</span></label>
                                <input type="text" class="form-control rounded-0"  placeholder="Shop Name"
                                    name="company_name" required>
                            </div>
                            <div class="form-group">
                                <label>Brand Name <span class="text-primary">*</span></label>
                                <input type="text" class="form-control rounded-0"  placeholder="Brand Name"
                                    name="brand_name" required>
                            </div>
                            <div class="form-group">
                                <label>Your Password <span class="text-primary">*</span></label>
                                <input type="password" id="password1" class="form-control rounded-0" minlength="6"maxlength="18" placeholder="Password"
                                    name="password" required>
                            </div>
                            <div class="form-group">
                                <label>Repeat Password <span class="text-primary">*</span></label>
                                <input type="password" id="password2" class="form-control rounded-0" placeholder="Confirm Password"
                                    name="password_confirmation"minlength="6"maxlength="18" required>
                            </div>
                            <div class="form-group">
                                <label>Address <span class="text-primary">*</span></label>
                                <input type="text" class="form-control mb-3 rounded-0"  placeholder="Address"
                                    name="address" required>
                            </div>
                            <div class="form-group">
                                <label>Alternate Number <span class="text-primary"></span></label>
                                <input type="number" class="form-control mb-3 rounded-0" min="6000000000"max="9999999999" 
                                    placeholder="Alternate Number" name="alternate_phone">
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="file-6" class="fs-12 fw-700 text-soft-dark">GST Certificate <span
                                        class="text-primary">*</span></label>
                                <div class="custom-file">
                                    <label class="custom-file-label">
                                        <input type="file" name="gst_certificate" id="file-6" class="custom-file-input"
                                            required>
                                        <span class="custom-file-name">Choose File</span>
                                    </label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="file-7" class="fs-12 fw-700 text-soft-dark">Udhyam Certificate <span
                                        class="text-primary">*</span></label>
                                <div class="custom-file">
                                    <label class="custom-file-label">
                                        <input type="file" name="udhyam_certificate" id="file-7" class="custom-file-input"
                                            required>
                                        <span class="custom-file-name">Choose File</span>
                                    </label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="file-8" class="fs-12 fw-700 text-soft-dark">Cancelled Check <span
                                        class="text-primary">*</span></label>
                                <div class="custom-file">
                                    <label class="custom-file-label">
                                        <input type="file" name="cancelled_check" id="file-8" class="custom-file-input"
                                            required>
                                        <span class="custom-file-name">Choose File</span>
                                    </label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="file-9" class="fs-12 fw-700 text-soft-dark">Pan Card <span
                                        class="text-primary">*</span></label>
                                <div class="custom-file">
                                    <label class="custom-file-label">
                                        <input type="file" name="pan_card" id="file-9" class="custom-file-input"
                                            required>
                                        <span class="custom-file-name">Choose File</span>
                                    </label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="file-10" class="fs-12 fw-700 text-soft-dark">Aadhar Card <span
                                        class="text-primary">*</span></label>
                                <div class="custom-file">
                                    <label class="custom-file-label">
                                        <input type="file" name="aadhar_card" id="file-10" class="custom-file-input"
                                            required>
                                        <span class="custom-file-name">Choose File</span>
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        <!--</div>-->
                        <!-- Terms and Conditions -->
                        <div class="mb-3 px-3">
                            <label class="aiz-checkbox">
                                <input type="checkbox" name="checkbox_example_1" required>
                                <span class="">By signing up you agree to our <a href="/terms"
                                        class="fw-500">terms and conditions</a></span>
                                <span class="aiz-square-check"></span>
                            </label>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary ">Register Your Shop</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    // Country Code
    var isPhoneShown = true,
        countryData = window.intlTelInputGlobals.getCountryData(),
        input = document.querySelector("#phone-code");

    for (var i = 0; i < countryData.length; i++) {
        var country = countryData[i];
        if (country.iso2 == 'bd') {
            country.dialCode = '88';
        }
    }

    var iti = intlTelInput(input, {
        separateDialCode: true,
        utilsScript: "/public/assets/js/intlTelutils.js?1590403638580",
        onlyCountries: ["IN"],
        customPlaceholder: function (selectedCountryPlaceholder, selectedCountryData) {
            if (selectedCountryData.iso2 == 'bd') {
                return "01xxxxxxxxx";
            }
            return selectedCountryPlaceholder;
        }
    });

    var country = iti.getSelectedCountryData();
    $('input[name=country_code]').val(country.dialCode);

    input.addEventListener("countrychange", function (e) {
        // var currentMask = e.currentTarget.placeholder;
        var country = iti.getSelectedCountryData();
        $('input[name=country_code]').val(country.dialCode);

    });

    function toggleEmailPhone(el) {
        if (isPhoneShown) {
            $('.phone-form-group').addClass('d-none');
            $('.email-form-group').removeClass('d-none');
            $('input[name=phone]').val(null);
            isPhoneShown = false;
            $(el).html('*Use Phone Instead');
        } else {
            $('.phone-form-group').removeClass('d-none');
            $('.email-form-group').addClass('d-none');
            $('input[name=email]').val(null);
            isPhoneShown = true;
            $(el).html('<i>*Use Email Instead</i>');
        }
    }
</script>

{%endblock%}