{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="csrf-token" content="TquKw9gzjCH8V0oPis0j6R2T13lKWBQhtAIbYFwq">
    <meta name="app-url" content="//romegamart.in/">
    <meta name="file-base-url" content="//romegamart.in/public/">

    <title>Romegamart India's First B2B Marketplace For RO Industry</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description"
        content="Romegamart: India's 1st and largest B2B Marketplace for the RO Industry, connecting manufacturers, dealers, distributors, retailers, and technicians to each other.">
    <meta name="keywords"
        content="ro b2b portal, ro b2b marketplace, ro wholesales market, ro b2b platforms in India, ro b2b marketplace, ro spare parts wholesale, ro water purifier spare parts wholesale, reverse osmosis wholesale, largest b2b marketplaces for ro industry, ro industrial b2b marketplace,">


    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Romegamart India's First B2B Marketplace For RO Industry">
    <meta itemprop="description"
        content="Romegamart: India's 1st and largest B2B Marketplace for the RO Industry, connecting manufacturers, dealers, distributors, retailers, and technicians to each other.">
    <meta itemprop="image"
        content="https://romegamart.in/public/uploads/all/f0z4LgU3hLsjZWmGBpYkI24oH0iCd7XpyIQKdGNw.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Romegamart India's First B2B Marketplace For RO Industry">
    <meta name="twitter:description"
        content="Romegamart: India's 1st and largest B2B Marketplace for the RO Industry, connecting manufacturers, dealers, distributors, retailers, and technicians to each other.">
    <meta name="twitter:creator" content="@author_handle">
    <meta name="twitter:image"
        content="https://romegamart.in/public/uploads/all/f0z4LgU3hLsjZWmGBpYkI24oH0iCd7XpyIQKdGNw.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Romegamart India's First B2B Marketplace For RO Industry">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:image" content="{%static 'images/f0z4LgU3hLsjZWmGBpYkI24oH0iCd7XpyIQKdGNw.jpg'%}">
    <meta property="og:description"
        content="Romegamart: India's 1st and largest B2B Marketplace for the RO Industry, connecting manufacturers, dealers, distributors, retailers, and technicians to each other.">
    <meta property="og:site_name" content="Ro Megamart">
    <meta property="fb:app_id" content="">

    <!-- Favicon -->
    <link rel="icon" href="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}">
    <link rel="apple-touch-icon" href="{%static 'images/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg'%}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"  rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{%static 'css/vendors.css'%}">
    <link rel="stylesheet" href="{%static 'css/aiz-core.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom-style.css'%}">
    <style>
        body {
            font-size: 12px;
        }
    </style>
</head>

<body>

    <div class="aiz-main-wrapper d-flex">
        <div class="flex-grow-1">

            <div class="h-100 bg-cover bg-center py-5 d-flex align-items-center"
                style="background-image: url(https://romegamart.in/public/assets/img/placeholder.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-4 mx-auto">
                            <div class="card text-left">
                                <div class="card-body">
                                    <div class="mb-5 text-center">
                                        <img src="https://romegamart.in/public/uploads/all/255dmYMPtjS23fvgqcrfDDjvhXzI45RRu71Elpai.jpg"
                                            class="mw-100 mb-4" height="40">
                                        <h1 class="fs-20 fs-md-24 fw-700 text-primary">Welcome Back !</h1>
                                        <h5 class="fs-14 fw-400 text-dark">Login To Your Seller Account</h5>
                                    </div>
                                    {%if msg%}
                                    <script>
                                        alert("Invalid Email or Password")
                                    </script>
                                    {%endif%}
                                    <form class="pad-hor" method="post">
                                       {%csrf_token%} 
                                       <!-- Email or Phone -->
                                        <div class="form-group">
                                            <label for="email" class="fs-12 fw-500 text-secondary">Email</label>
                                            <input type="email" class="form-control rounded-0" 
                                                placeholder="johndoe@example.com" name="email" id="email"
                                                autocomplete="off" required>
                                        </div>

                                        <!-- password -->
                                        <div class="form-group">
                                            <label for="password" class="fs-12 fw-500 text-secondary">Password</label>
                                            <input type="password" class="form-control rounded-0 "
                                                placeholder="Password" name="password" id="password" required>
                                        </div>

                                        <div class="row mb-2">
                                            <!-- Remember Me -->
                                            <div class="col-6">
                                                <label class="aiz-checkbox">
                                                    <input type="checkbox" name="remember">
                                                    <span
                                                        class="has-transition fs-12 fw-400 text-gray-dark hov-text-primary">Remember
                                                        Me</span>
                                                    <span class="aiz-square-check"></span>
                                                </label>
                                            </div>
                                            <!-- Forgot password -->
                                            <div class="col-6 text-right">
                                                <a href="https://romegamart.in/password/reset"
                                                    class="text-reset fs-12 fw-400 text-gray-dark hov-text-primary"><u>Forgot
                                                        password?</u></a>
                                            </div>
                                        </div>

                                        <!-- Submit Button -->
                                        <div class="mb-4 mt-4">
                                            <button type="submit"
                                                class="btn btn-primary btn-block fw-700 fs-14 rounded-4">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

      <!-- SCRIPTS -->
      <script src="{%static 'js/vendors.js'%}"></script>
      <script src="{%static 'js/aiz-core.js'%}"></script>

    <script type="text/javascript">
        function autoFill() {
            $('#email').val('seller@example.com');
            $('#password').val('123456');
        }
    </script>
</body>

</html>